<div class="container">
    <div class="mat-elevation-z8 mt-5 p-5 bg-light">
        <h1 class="text-center">Tanagra Mapping Tool</h1>
        <h3 style="text-align: justify;">
            Ce développement vise à mettre en place une interface web pour la géolocalisation et la cartographie des
            noms de lieux dans les textes.
            À partir d’un corpus de textes, l’application permet d’identifier les noms de lieu à l’aide de l’application
            SpaCy. Ensuite, les lieux reconnus sont géolocalisés en utilisant une base de données, puis projetés sur une
            carte interactive. Les nouveaux lieux peuvent également être ajoutés à la base de données.
            Il est possible pour l’utilisateur de filtrer les résultats par métadonnées (titre ou date), et d’exporter
            les lieux cartographiés au format csv.
        </h3>
        <ul>
            <li>Première version: 01/02/2022</li>
            <li>
                Conception et cahier des charges: Motasem Alrahabi, ObTIC, Sorbonne Université
            </li>
            <li>
                Contribution: Angélique Allaire, ObTIC, Sorbonne Université
            </li>
            <li>
                Responsable de l’équipe: Glenn Roe, ObTIC, Sorbonne Université
            </li>
            <li>
                Développement: société <a href="https://portfolio-osm.web.app/" target="_blank">OSM</a>
            </li>
        </ul>
    </div>

</div>